<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TITANIC SQL</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- PLOTLY -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/sql_graphs.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Titanic
                <span class="sr-only">(current)</span>
              </a>
                </li>
            </ul>
        </div>
    </nav>
    <a href="/about_us">About Us</a>
    <hr style="color:lightgray; border-width: 3px;">
    <div class="container">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Filters</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label" for="gender">Gender</label>
                            <select id="gender">
                                <option value='"male","female"'>All</option>
                                <option value='"female"'>Female</option>
                                <option value='"male"'>Male</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="min_age">Min. Age</label>
                            <input type="text" class="form-control" value="25" id="min_age">
                            <label class="col-form-label" for="max_age">Max. Age</label>
                            <input type="text" class="form-control" value="65" id="max_age">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" id="filter">Query Database!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="color:lightgray; border-width: 3px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="scatter"></div>
            </div>
        </div>
    </div>

</body>

</html>