<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HOME</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <h1>THIS IS MY HOME PAGE</h1>
    <a href="/about_us">About Us</a>
    <img src="./static/assets/globe_life_field.jpg">
</body>

</html>
